{% extends 'base.html' %}
{% block content %}
<div class="form">
  <form method = "post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
  <button type="submit">Upload</button>
  </form>
</div>

<div class="table">
  {% for g in game_list %}
    <br>=========
    <h3><strong>Название:</strong> {{g.game_title}} </h3>
    <p><strong>Описание:</strong><br>{{ g.game_description }}</p>
    <p><strong>Время добавления:</strong> {{ g.date }}</p>
    <p><strong>Был эфир?</strong> {{ g.was_streamed }}</p>
    <p><strong>ОЧКОООООО:</strong> {{ g.score }}</p>
    <p>{{ g.id }} ID</p>
    <img src='{{ g.cover.url }}'  alt="...">
    <br>=========
  {% endfor %}
</div>
{% endblock %}
