{% load static %}
<h3>FGC app</h3>
<p>ЕБАТЬ КОПАТЬ - ДА ИТО ЖЫ СБИСАГ ИГОРЪ?!</p>
<hr>
{% for game in game_list %}
  <div class="container-fluid game-card">
    <img class="game-card-icon" src="{{ game.cover.url}}" alt="oops">
    <div class="game-card-text  col-sm-8">
      <p class="game-title"> <strong>{{game.game_title}}</strong> </p>
      <p class="game-description">{{game.game_description}}</p>
    </div>
    <div class="game-score">
      <p><strong>Е-баллы темы эфира:</strong> {{game.score}}</p>
      <p><strong>Был эфир:</strong>
        {% if game.was_streamed == True %}
          YIS
        {% else %}
          NYOOO
        {% endif %}
      </p>
    </div>
  </div>
  <hr>
{% endfor %}
