<!-- <footer class="page-footer font-small fixed-bottom bg-light">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    Friendly Gaming Community
  </div>
</footer> -->

<!-- <footer id="footer" class="footer navbar-fixed-bottom">
    <div class="footer-bottom">
        <div class="container ">
            <div class="row">
              <p class="pull-right">don_macaron </p>
                <p class="pull-left">© 2020</p>
            </div>
        </div>
    </div>
</footer> -->
